*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#667eea,#764ba2);
    padding:20px;
}

.container{
    width:450px;
    background:white;
    padding:35px;
    border-radius:20px;
    box-shadow:0 20px 40px rgba(0,0,0,0.25);
    animation:slide .6s ease;
}

@keyframes slide{
    from{
        opacity:0;
        transform:translateY(-40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

h2{
    text-align:center;
    color:#333;
    margin-bottom:25px;
}

h2 i{
    color:#667eea;
}

.form-group{
    margin-bottom:18px;
}

label{
    display:block;
    font-weight:600;
    margin-bottom:7px;
    color:#444;
}

.input-box{
    position:relative;
}

.input-box i{
    position:absolute;
    top:50%;
    left:15px;
    transform:translateY(-50%);
    color:#777;
}

input,
select,
textarea{
    width:100%;
    padding:12px 15px 12px 45px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
    font-size:15px;
    transition:.3s;
}

textarea{
    resize:none;
}

input:focus,
select:focus,
textarea:focus{
    border-color:#667eea;
    box-shadow:0 0 8px rgba(102,126,234,.3);
}

.gender{
    display:flex;
    gap:20px;
}

.gender label{
    font-weight:normal;
}

.gender input{
    width:auto;
}

.password-box{
    position:relative;
}

.password-box span{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    color:#555;
}

.strength{
    height:6px;
    background:#ddd;
    margin-top:8px;
    border-radius:10px;
}

#strengthBar{
    height:100%;
    width:0%;
    border-radius:10px;
    transition:.4s;
}

.checkbox{
    display:flex;
    gap:10px;
    align-items:center;
    font-size:14px;
}

.checkbox input{
    width:auto;
}

button{
    width:100%;
    padding:14px;
    margin-top:20px;
    border:none;
    border-radius:12px;
    background:linear-gradient(135deg,#667eea,#764ba2);
    color:white;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(102,126,234,.4);
}

.login{
    text-align:center;
    margin-top:20px;
}

.login a{
    color:#667eea;
    text-decoration:none;
    font-weight:bold;
}

#message{
    text-align:center;
    margin-top:15px;
    font-weight:bold;
}

@media(max-width:500px){

    .container{
        width:100%;
        padding:25px;
    }

}
